@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    /* max-width: 100%;
    /* max-height: 100%; */
    box-sizing: content-box;
    font-family: 'Noto Sans KR', sans-serif;
    /*
    border: 1px solid rgb(255, 136, 0);
    */

}



/* Container - Panles*/
.container-top-desk {
    position: fixed;
    max-width: 100%;
    z-index: -1;
    visibility: hidden;
}

.menu-mobile {
    width: 100vw;
    height: 0%;
    top: 40px;
    position: fixed;
    background-color: rgb(18, 18, 18);
    z-index: 10000;
    visibility: hidden;
}

.menu-mobile td {
    max-height: 95vw;
    padding: 0;

}


.menu-mobile p{
    margin-bottom: 100px;

}

.menu-mobile h4 {
    color: #f6f6f6;
    font-size: large;
    margin-bottom: 10px;
}

.container-top-mobile {
    position: fixed;
    max-width: 100%;
    z-index: 2;
    visibility: visible;
    width: 100vw;
}

.container-medium {
    width: 100vw;
    max-width: 100%;
}
.container-medium-fav {
    width: 100vw;
    max-width: 100%;
    display: flex; justify-content: space-evenly;justify-content: center;
}

.container-low {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    margin-top: 0.5vw;
}

.container-low td {
    font-size: 0.9vw;
}

.container-low td {
    width: 100vw;
    text-align: center;
    border-bottom: 0.5vw solid transparent;
}

.container-low div {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.container-low p {
    color: rgb(66, 66, 69);
    font-weight: 400;
    text-align: left;
    font-size: 8px;
    width: 100%;
}

.container-low h4 {
    width: 100%;
    font-size: 8px;
    font-weight: 500;
    text-align: left;
    color: rgb(29, 29, 31);
}

.container-medium-2 {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;
    justify-content: space-evenly;
}

.container-medium-2 img{max-width: 100vw;}

.container-medium-2-banner {
    width: 100vw;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-medium-2-banner div {
    width: 100vw;
    display: flex;
    max-width: 100%;
    margin-right: 0.5vw;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-medium-2-banner img {
    width: 100vw;
    max-width: 100%;
    margin-top: 0.5vw;
    align-items: center;
}

.container-lower {
    height: 32px;
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

.container-lower p {
    font-size: 8px;
}

.container-lower div {
    display: flex;
    flex-direction: row;
    width: 95vw;
    max-width: 100%;

}

.container-text {
    width: 50vw;
    text-align: center;
}

.container-menu {
    width: 100vw;
    max-width: 100%;
}

.container-menu table {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-evenly;
}

.container-menu td {
    font-weight: 500;
    font-size: 1.3vh;
    margin-left: auto;
    margin-right: auto;
    visibility: visible;
    border-top: 12px solid transparent;
    border-right: 3vb solid transparent;
    border-left: .75vw solid transparent;
    border-bottom: 12px solid transparent;
}

.container-menu p {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgb(208, 208, 208);
}

.container-menu i:hover {
    color: rgb(245, 245, 247);
}

.container-menu i {
    font-size: 12px;
    text-align: center;
    color: rgb(208, 208, 208);
}

.container-banner {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;
}

.container-banner img {
    width: 100vw;
}

.container-text table {
    width: 50vw;
}

.container-text td {
    width: 50vw;
}

.container-low-margin-1 {
    border-color: rgb(245, 245, 247);
    border-right: 5vw solid rgb(245, 245, 247);
}

.container-low-margin-2 {
    width: 100vw;
    border-left: 5vw solid transparent;
    border-color: rgb(245, 245, 247);
    background-color: rgb(245, 245, 247);
}

.marquee {
    width: 100vw;
    display: block;
    position: relative;
    animation-name: scroll;
    animation-duration: 42700ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        left: -39%;
    }

    100% {
        left: -550%;
    }
}

.panel-sing {
    width: 100vw;
    padding: 3px;
    display: flex;
    overflow: visible;
}

.panel-sing div {
    width: 100%;
    margin-top: 0.5%;
    margin-right: 1%;
}

.panel-sing img {
    height: 100vw;
    background-color: #f6f6f6;
}

/* Sing */
.sing-normal {
    z-index: 1;
    opacity: 100%;
}

.sing-normal-op {
    z-index: 1;
    opacity: 50%;
}

.sing-efect-op {
    z-index: 1;
    opacity: 0.5;
    transform: scale(100%);
    animation: frameOp 2s ease 1;
}

.sing-efect-normal {
    z-index: 1;
    transform: scale(101%);
    animation: frameNormal 2s ease 1;
}


@keyframes frameNormal {
    0% {
        opacity: 0.5;
        transform: scale(100%);
    }

    100% {
        opacity: 1;
        transform: scale(101%);
    }
}

@keyframes frameOp {
    0% {
        opacity: 1;
        transform: scale(101%);
    }

    100% {
        opacity: 0.5;
        transform: scale(100%);
    }
}

/* Slider */
.slider-menu {
    z-index: -100;
    width: 100%;
    height: 0%;
    display: table;
    overflow-x: clip;
    margin-top: -10000px;
    visibility: hidden;
    justify-content: space-evenly;
    background-color: rgba(18, 18, 18, 0.93);

}

.slider-menu i {
    width: 20px;
    height: 20px;
    margin-top: 2vi;
    margin-left: 30%;
    text-align: right;
    margin-bottom: 25vi;
}

.slider-menu form {
    width: 100vw;
    display: flex;
    height: 100vw;
}

.slider-menu input {
    size: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: large;
    border-radius: 4px;
    background-color: transparent;
    border: 0px solid rgb(247, 247, 247);
    font-family: 'Noto Sans KR', sans-serif;
}


.libreria-web {
    height: 0vw;
    visibility: hidden;
}

.libreria-mobile {
    height: 100vw;
    visibility: visible;
}

/* Text, Color...*/
.text-center {
    text-align: center;
}

.color-texto-menu {
    filter: blur(0);
    visibility: hidden;
    color: rgb(245, 245, 247);
}

.color-texto-menu:hover {
    color: white;
    filter: blur(0);
}

.color-background-1 {
    background-color: rgba(0, 0, 0, 1);
}

.color-background-1 h1 {
    color: white;
}

.color-background-1 h2 {
    color: white;
    font-weight: 500;
}

.color-background-2 {
    background-color: rgba(110, 190, 48, 0.526);
}

.color-background-3 {
    background-color: rgba(18, 18, 18, 0.977);
}

.color-background-4 {
    background-color: rgb(245, 245, 247);
}

.color-background-4 h1 {
    color: rgb(29, 29, 31);
}

.color-background-4 h2 {
    font-weight: 500;
    color: rgb(29, 29, 31);
}

h3 {
    width: 300;
    font-weight: 400;
    color: rgb(0, 102, 204);
    font-family: 'Noto Sans KR', sans-serif;
}

.error {
    width: 100vw;
    height: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

/*------------------------------------- Formulario*/

.form-div-all-content {
    margin-left: 13vw;
}

.form-div-content {
    max-width: 100%;
    max-height: 100%
}

.form-div-content h2 {
    text-align: center;
    margin-right: 13vw;
}

.form-div-content ul {
    display: flex;
   
    flex-direction: row;
    justify-content: center;
}

.form-menu-web {
    background-color: rgb(18, 18, 18);
    display: grid;
    width: 50px;
    height: auto;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: auto;
    position: fixed;
    margin-left: -15px;

    visibility: hidden;
    z-index: 0;
}

.form-menu-web i {
    margin: auto;
}

.form-menu-web button {
    margin: auto;
    z-index: 10;
    background-color: transparent;
    border-color: transparent;
    color: rgb(245, 245, 247);
    width: auto;
    height: auto;
}

.form-menu-web button:hover {
    border-color: transparent;
    color: rgb(211, 211, 211);
    background-color: transparent;
}

.form-menu-mobile-container {
    width: 100vw;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-menu-mobile {
    background-color: rgb(18, 18, 18);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* margin-top: auto;*/
    /* position: fixed; */
    visibility: visible;
    z-index: 0;
    /*width: auto;*/
}

.form-menu-mobile button {
    background-color: transparent;
    border-color: transparent;
}

.form-background {
    display: flex;
    background-color: rgb(245, 245, 247);
    margin-right: 15vw;
    flex-wrap: wrap;
    position: relative;
    border-radius: 5px;
    height: auto;
    width: 90%;
    margin-bottom: 10%;
    margin-left: -5cap;

}

.form-content {
    margin: auto;
    border: 5px solid transparent;
    width: auto;
}

.form-content-top {
    height: 25px;
    width: 300px;
    flex: content;
    border: 2px solid rgb(18, 18, 18);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 0px;
    background-color: rgb(18, 18, 18);
    display: flex;

}

.form-content-top p {
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    color: #f6f6f6;
}

.form-content-medium {
    width: 300px;
    height: 400px;
    max-width: 300px;
    border: 2px solid rgb(18, 18, 18);
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content-medium img {
    height: 400px;
    
}

.form-content-lower {
    height: 25px;
    width: 300px;
    flex: content;
    border: 2px solid rgb(18, 18, 18);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0px;
    background-color: rgb(18, 18, 18);
    display: flex;
}

.form-content-lower button {
    margin-left: 5px;
    margin-right: 5px;
    color: #f6f6f6;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    border-color: transparent;
    align-content: end;
}

.form-content-lower p {
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    color: #f6f6f6;
}

.form-content-lower-edit {
    margin-right: 5px;
    align-items: end;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;

}

.form-div-model-background{
    background-color: #f6f6f6; 
    border-color: 3px #f6f6f6 ; 
    border-radius: 3px; 
    color: rgb(18, 18, 18); 
    margin-left: 10px; 
    margin-right: 10px;  
    align-items: center;

}

.form-div-img{
    justify-content: center; align-items: center; display: flex;
}

.form-text-coment{
    width: 97%; 
    margin-left: 1%; 
    margin-bottom: 1%;
}

p{
    margin-bottom: 0px;
}


.wallpaper-div{
    width: 100%;
    height: 100%; 
    position: absolute; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
    display: flex;
}



.welcome-wallpaper{
    animation: anim-welcome-wallpaper-load 2s ease 1;
    width: 160vw;    
    height: auto;
}

.welcome-wallpaper2{
    animation: anim-welcome-wallpaper-load 2s ease 1;
    background-color: transparent;
    width: 160vw;    
    height: auto;

}

@keyframes anim-welcome-wallpaper-load {
    0% {
        width: 170vw;    
        color: blue;
    }

    100% {
      
        color: transparent;
        width: 160vw;    
        
    }
}

.welcome-wallpaper-anim-0{animation: anim-welcome-wallpaper-0 3s ease 1; width: 150vw;
}
@keyframes anim-welcome-wallpaper-0 {
    0% {
        width: 160vw;    
    }

    100% {
        width: 150vw;    
    }
}

.welcome-wallpaper-anim-1{animation: anim-welcome-wallpaper-1 3s ease 1; width: 140vw; 
}
@keyframes anim-welcome-wallpaper-1 {
    0% {
        width: 150vw;

    }

    100% {
        width: 140vw;

    }
}

.welcome-wallpaper-anim-2{animation: anim-welcome-wallpaper-2 3s ease 1; width: 150vw; 
 }
@keyframes anim-welcome-wallpaper-2 {
    0% {
        width: 140vw;

    }

    100% {
        width: 150vw;

    }

}

.welcome-wallpaper-anim-3{animation: anim-welcome-wallpaper-3 3s ease 1; width: 160vw; 
 }
@keyframes anim-welcome-wallpaper-3 {
    0% {
        width: 150vw;
    }

    100% {
        width: 160vw;
    }
}


.welcome-wallpaper-ef{
    width: 10000vw; 
    
    scale: 10000%;
    background-color: transparent;
}



.welcome-anim-0{animation: anim-wallpaper-0 2s ease 1;         width: 700vw;}
@keyframes anim-wallpaper-0 {
    0% {
        width: 10000vw; 
    }

    100% {
        width: 700vw; 
    }
}

.welcome-anim-1{animation: anim-wallpaper-1 3s ease 1; width: 120vw;background-color: white}
@keyframes anim-wallpaper-1 {
    0% {
        width: 700vw; 
        background-color: transparent;
    }

    100% {
        width: 120vw; 
        background-color: white;
    }
}

.welcome-anim-2{animation: anim-wallpaper-2 1s ease 1; width: 700vw;}
@keyframes anim-wallpaper-2 {
    0% {
        width: 150vw; 
        background-color: white;
    }

    100% {
        width: 700vw; 
        background-color: transparent;
    }
}

.welcome-anim-3{animation: anim-wallpaper-3 3s ease 1;  width: 10000vw;}
@keyframes anim-wallpaper-3 {
    0% {
        width: 700vw; 
    }

    100% {
        width: 10000vw; 
    }
}

.welcome-anim-4{position: relative; animation: anim-wallpaper-4 3s ease 1;  scale: 10000%; background-color: transparent; 
}
@keyframes anim-wallpaper-4 {
   0% {
       scale: 40%;
       background-color: white

   }

   100% {
       scale: 10000%;
       background-color: transparent
   }
}

.boton-play-div{
    background-color: transparent; width: 100vw; height: 100vh; justify-content: center; 
    align-items: center; display: flex;position: absolute; z-index: 1000; scale: 100%;animation: boton-play-div-anim-load 0.5s ease 1;
}

@keyframes boton-play-div-anim-load {
   0% {
    scale: 0%;
   }

   100% {
    scale: 100%;
 
   }
}

.boton-play-div-end{
animation: boton-play-div-anim-end 1s ease 1;background-color: transparent; width: 100vw; height: 100vh; justify-content: center; 
align-items: center; display: flex;position: absolute; z-index: 1000; scale: 0%;
}

@keyframes boton-play-div-anim-end {
   0% {
    scale: 100%;
   
   }

   100% {
    scale: 0%;
 
   }
}




.boton-play-div :hover{
    scale: 110%;
}




.welcome-panel-top{
    position: fixed; 
    width: 100vw; 
    height: 100vh; 
    z-index: 10; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    visibility: hidden;    
    background-color: transparent;
}



.welcome-panel-anim-top{ animation: anim-welcome-panel 4s ease 1; visibility: hidden;
}
@keyframes anim-welcome-panel {
   0% {
    visibility: visible;
   }

   100% {
       visibility: hidden;

   }
}


.welcome-panel{
    width: 100%;
    height: 100%;
    z-index: 11; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    background-color: transparent;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-medium-2-banner {
        width: 100vw;
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container-top-movil {
        z-index: 2;
        width: 100vw;
        max-width: 100%;
        position: fixed;
        visibility: visible;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .libreria-web {
        height: auto;
        visibility: visible;
    }

    .libreria-mobile {
        height: 0vw;
        visibility: hidden;
    }

    .panel-sing img {
        height: 35vw;
        background-color: #f6f6f6;
    }
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .container-top-web {
        z-index:-1;
        width: 100vw;
        position: fixed;
        max-width: 100%;
        visibility: hidden;
    }

    .container-top-mobile {
        z-index: 2;
        width: 100vw;
        max-width: 100%;
        position: fixed;
        visibility: visible;
    }

    .container-low p {
        width: 100%;
        font-size: 12px;
        text-align: left;
        font-weight: 400;
        color: rgb(66, 66, 69);
    }

    .container-low h4 {
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        color: rgb(29, 29, 31);
    }

    .container-lower p {
        font-size: 12px;
    }

    .container-low-margin-1 {
        width: 100vw;
        margin-top: 0.5vw;
        margin-right: 1000px solid transparent;
        background-color: rgb(245, 245, 247);
    }

    .container-low-margin-2 {
        margin-top: 0.5vw;
        margin-left: 1000px solid transparent;
        background-color: rgb(245, 245, 247);
    }

    .container-lower div {
        width: auto;
    }

    .slider-menu {
        z-index: 1;
        width: 100vw;
        height: auto;
        display: flex;
        overflow-x: clip;
        margin-top: -15px;
        visibility: hidden;
        justify-content: space-evenly;
        background-color: rgba(18, 18, 18, 0.93);
    }

    .menu-mobile {
        z-index: 1;
        width: 100vw;
        height: 200vw;
        top: 40px;
        position: fixed;
        visibility: hidden;
        background-color: rgb(18, 18, 18);
    }
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-top-desk {
        z-index: 2;
        width: 100vw;
        position: fixed;
        max-width: 100%;
        visibility: visible;
    }

    .container-top-mobile {
        z-index: 0;
        width: 100vw;
        
        position: fixed;
        max-width: 100%;
        visibility: hidden;
    }

    .color-texto-menu {
        filter: blur(0);
        visibility: visible;
        color: rgb(245, 245, 247);
    }

    .slider-menu {
        z-index: 1;
        height: 12vh;
        width: 100vw;
        display: flex;
        margin-top: 0PX;
        overflow-x: clip;
        visibility: hidden;
        justify-content: space-evenly;
        background-color: rgba(18, 18, 18, 0.93);
    }

    .menu-mobile {
        z-index: 1;
        width: 100vw;
        position: fixed;
        visibility: hidden;
        background-color: rgb(18, 18, 18);
    }

    .form-menu-web {
        background-color: rgb(18, 18, 18);
        display: grid;
        width: 50px;
        height: auto;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        margin-top: auto;
        position: fixed;
        margin-left: -15px;
    
        visibility: visible;
        z-index: 0;
    }

    .form-menu-mobile {
        background-color: rgb(18, 18, 18);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        /* margin-top: auto;*/
        /* position: fixed; */
        visibility: hidden;
        z-index: 0;
        /*width: auto;*/
    }

    .form-background {
        display: flex;
        background-color: rgb(245, 245, 247);
        margin-right: 15vw;
        flex-wrap: wrap;
        position: relative;
        border-radius: 5px;
        height: auto;
        width: 90%;
        margin-bottom: 10%;
        margin-left: auto;
    
    }
    .welcome-panel-top{
   
        visibility: visible;    
      
    }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}



